body {
    font-family: 'Encode Sans Semi Expanded', 'BPG Arial',  sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    cursor: default;
    background-color: #f4f4f4;
}

header {
    height: 500px;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-position: center;
    display: flex;
}

.color-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,.6);
   opacity: 0.5;
}

.logo {
    margin-left: 20%;
}

#compiplus-logo {
    width: 40px;
    height: auto;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    
    position: fixed;
    width: 100%;
    padding: 0;
    height: 50px;
    z-index: 100;
    margin: 0;
    border-bottom: 1px solid lightgrey;
}

.header-container {
    width: 100%;
}

.menu {
    
    display: flex;
    flex-grow: 0;
    justify-content: flex-end;
    width: 500px;
    height: 100%;
    width: 100%;
    margin-right: 20%;
}



.nav-links {
    display: flex;
    padding: 10px 20px;
    font-size: 1.2em;
    z-index: 20;
    transition: .3s;
}

.menu a {
    align-self: center;
    text-decoration: none;
    color: #023A72;
    font-size: 1.1em;
}
    
.menu a:hover {
    color: #4682b4;
}

.introduction {
    color: white;
    font-size: 1.4em;
    width: 900px;
    text-align: center;
    z-index: 9;
    position: relative;
    margin: auto;
    cursor: default;
}

.introduction h1 {
    margin: 100px;
}


.adv {
    text-align: center;
    font-size: 1.25em;
    background-color: white;
    margin: 25px 15px;
    border-radius: 5px;
    padding:  15px 12px;
    box-shadow: 0 8px 10px -5px lightgrey; 
}

.primary-content p {
    width: 350px;
    color: #0353A4;
    margin: 0;
}


.primary-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:  60px 0;
}

i {
    font-size: 45px;
    color: #2651a8;
    padding: 15px;
    border-radius: 50%;
/*    background-color: #2651a8;*/
    margin: 0 10px;
}

.service {
    line-height: 1.3;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    display: flex;
    width: 900px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
/*    box-shadow: 0 8px lightgrey;*/
    box-shadow: 0 12px 10px -5px lightgrey;
}

.service ul li {
    padding: 5px 0 ;
}

.service h3 {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container h3{
    color: rgba(3,83,164, 1);
    width: 100%;
    margin: 0;
    padding: 7px 0;
}

.service img {
    width: auto;
    height: 300px;
    border-radius: 5px;
}

.cont-2 {
 display: flex;
    flex-direction: row;
}

.service ul {
    font-size: 1.2em;
}

.secondary-content{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-gap: 50px;
}

.secondary-content h2 {
    margin-bottom: 0;
}

hr {
    border:0;
    border-top: solid 2px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 5px;
    z-index: 20;
    margin: 0 auto;
}

.contact {
    cursor: default;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    background:
        linear-gradient(
           rgba(0, 0, 0, 0.7),
           rgba(0, 0, 0, 0.7)
        ), url(../img/bg-2.jpg) no-repeat center;
    background-size: 100% 100%;  
    
    height: 500px;
    justify-content: center;
    align-items: center;
    color: white;
}

#cta {
    text-align: center;
    border: white solid 1px;
    width: 400px;
    padding: 20px;
    border-radius: 3px;
    font-size: 1.7em;
}

.contact ul {
    font-size: 1.3em;
    width: 600px;
}

.contact li {
   color: #FFFBFC;
}

hr {
    border: none;
    border-bottom: solid 3px white;
    z-index: 100;
    height: 10px;
    width: 100%;
}

footer {
    cursor: default;
    color: #0353A4;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 20% 0 20%;
    border-bottom: solid 15px #0353A4;;
    font-size: 1.1em;
}

footer p {
    flex-grow: 1;
}



#side-menu {
    display: none;
}

/* MEDIA QUERIES */


@media only screen and (max-width: 900px) {
    .introduction h1 {
        font-size: 1.8em;
    } 
    
    .service img {
        width: auto;
        height: 200px;
    }
    
    .service {
        padding: 5px 10px;
        width: 750px;
    }
    
    #cta{
        width: 300px;
        padding: 15px;
        font-size: 1.3em;
    }
    
    .contact ul{
        font-size: 19px;
    }
    
    footer {
        font-size: 16px;
    }
    
    #side-menu {
        display: none;
    }

/*
    .item-2 {
        display: none;
    }
*/
    
}

@media only screen and (max-width: 768px) {
    .service {
        width: 650px;
    }
}


@media only screen and (max-width: 500px) {
    
    
    body {
        width: 100%;
    }
    
    .introduction h1 {
        font-size: 1.5em;
        margin-bottom: 50px;
    }
    
    .introduction p {
        font-size: .9em;
    }
    
    .service {
        flex-direction: column;
        width: 350px;
    }
    
    footer {
        font-size: 15px;
    }
    
    .contact ul{
        width: 350px;
        margin: 0;
        padding:  0;
    }
    
    header i{
        color: rgba(3,83,164, 1);
        padding: 0;
        margin-right: 15px;
    }
    
/*
#side-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(1, 1, 1, 0.7);
    width: 0;
    max-width: 300px;
    height: 100%;
    transition: .3s;
    display: none;
}
*/
    
    .menu {
        display: none;
    }
    
    .logo {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: 15px;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo item-1{
        flex-grow: 2;
    }
    
    
}



















